node_modules

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
csm-api.zip

[http]
	proxy = 21836417896:%40FVca0213@proxy.policiamilitar.sp.gov.br:3128